:root {
  --header-index: 1000;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;

  &:visited:not(.btn) {
    color: rgb(8, 31, 233);
  }
}

ul {
  list-style: none;
}

.btn,
button {
  cursor: pointer;
  border: 0;
  background: none;

  &:not(.no-style) {
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    padding: 10px 10px;
    transition: 0.2s;

    &:hover {
      background-color: #333;
    }
  }
}

/* header */
#app-header {
  position: fixed;
  z-index: var(--header-index);
  width: 100%;
  left: 0;
  padding: 10px;
  background: rgba(104, 100, 100, 0.932);
  box-shadow: 0 5px 10px -5px #00000042;
}

#app-header nav {
  display: flex;
  justify-content: space-between;

  & a {
    display: grid;
    font-size: 16px;
  }

  & .left-nav {
    display: flex;
    gap: 10px;
  }
}

/* // end header */

#app-main-el {
  padding: 0 20px;
  --footer-height: 0px;
  min-height: calc(100vh - var(--footer-height));
}

.home-page-title {
  position: relative;
  width: fit-content;
  margin: 0 auto 20px;
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% 0;
    height: 3px;
    width: 70%;
    background: #000;
  }
}

.user {
  border: 1px solid;
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s;
  &:hover {
    background-color: #2e2e2e62;
  }

  & a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    display: block;

    &:visited {
      color: #000;
    }
  }

  & + * {
    margin-top: 10px;
  }
}

.topics {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  & > li {
    flex: 1;

    & button {
      width: 100%;
    }
  }
}

.user-data-holder ul {
  margin-top: 10px;

  & li {
    background: #eee;
    padding: 5px;
  }

  & li + * {
    margin-top: 10px;
  }
}

.big-holder {
  overflow: hidden;
}
.real-topics-holder {
  transition: 0.3s;
  display: flex;

  & > * {
    height: max-content;
    overflow-y: auto;
    max-height: 750px;
    padding: 10px;

    flex: 1;
    transition: 0.3s;
  }
}

.todo {
  padding: 10px;
  background: #ddd;
  border-radius: 4px;
  transition: 0.3s;

  &:hover {
    background-color: #acabab;
  }
  & + * {
    margin-top: 10px;
  }
}

.owner {
  border: 1px solid;
  border-radius: 4px;
  width: fit-content;
  padding: 10px;

  & .btn {
    display: block;
    margin-top: 5px;
    font-size: 15px;
  }
}

.post {
  border-bottom: 1px solid #777;
  padding-bottom: 10px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  & h2 {
    font-size: 20px;
  }

  & p {
    color: #444;
    font-size: 14px;
    margin: 10px 0;
  }
}

.album-title {
  margin: 10px 0;
}
.list-title {
  margin-bottom: 10px;
}

.album {
  background-color: #ddd;
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;

  & button {
    width: 100%;
    text-align-last: left;
  }

  &:hover {
    background-color: #acacac;
  }

  & + * {
    margin-top: 10px;
  }
}

.album-photos-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  text-align: center;

  & img {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 10px 10px 10px -5px #00000060;
    }
  }
}

#app-modal-overlay {
  background: #000000d0;
  opacity: 0;
  transition: 0.3s;
  position: fixed;
  inset: 0;
  z-index: calc(var(--header-index) + 1);

  &.active {
    opacity: 1;
  }
}

#app-modal {
  position: fixed;
  inset: 0;
  z-index: calc(var(--header-index) + 2);
  opacity: 0;
  scale: 0.5;
  transition: 0.3s;

  &.active {
    scale: 1;
    opacity: 1;
  }
}
.modal-content-holder {
  position: relative;
  text-align: center;
}
.modal-placeholder {
  position: absolute;
  background: #000;
  top: 0;
  width: 600px;
  height: 600px;
  left: 50%;
  translate: -50% 0;
  z-index: -1;
  color: #fff;
  display: grid;
  place-content: center;
}

#app-footer {
  padding: 20px 10px;
  text-align: center;
  background: #000;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.5px;

  & a {
    color: #fff;
  }
}
